{% extends 'base.html' %}
{% block title %}Change Password{% endblock %}

{% block content %}
<section class="content">
  <div class="container-fluid pt-3">
    <div class="row">
      <div class="col-md-8 offset-md-1 col-sm-12">
        <h2 class="mb-4"><i class="fas fa-key"></i> Change Password</h2>
        
        <form method="post">
          {% csrf_token %}
          {{ form.as_p }}
          
          <div class="form-group mt-4">
            <button type="submit" class="btn btn-primary">
              <i class="fas fa-sync-alt"></i> Update Password
            </button>
            <a href="{% url 'view_profile' %}" class="btn btn-secondary ml-2">
              <i class="fas fa-arrow-left"></i> Cancel
            </a>
          </div>
        </form>
        
      </div>
    </div>
  </div>
</section>
{% endblock %}
